<div class="header">
  <h1
    class="text-center text-red"
    *ngIf="gameService.isGameRunning"
    [ngClass]="{ 'text-cyan': gameService.activePlayer == 'O' }"
  >
    RUNDA: {{ gameService.activePlayer }}
  </h1>
  <h1 class="text-center text-red" *ngIf="!gameService.isGameRunning">
    Kółko i krzyżyk
  </h1>
</div>
<app-board></app-board>
<h1 class="text-center text-red" *ngIf="gameService.winner">
  GRATULACJE '{{ gameService.activePlayer }}' WYGRAŁY
</h1>
<ng-template *ngIf="gameService.winner && gameService.isGameRunning"
  ><p class="text-center text-red">REMIS</p></ng-template
>

<button
  class="
    bg-blue
    hover:bg-blue-dark
    text-white
    font-bold
    py-2
    px-4
    rounded
    mx-auto
    block
    mt-5
  "
  *ngIf="gameService.gameOver"
  (click)="resetGame()"
>
  RESET
</button>
