p {
  font-family: 'Zen Dots', cursive;
}

h1 {
  transition: color 0.2s;
  font-family: 'Zen Dots', cursive;
}
h1 :leave {
  transition: display 4s;
  font-family: 'Zen Dots', cursive;
}
.header {
  margin-top: 100px;
}
ng-template {
  transition: color 0.2s;
  font-family: 'Zen Dots', cursive;
}
ng-template :leave {
  transition: display 4s;
  font-family: 'Zen Dots', cursive;
}
